<template>
  <div class="user-table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Grupo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(alumno, index) in alumnos" :key="index">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.group }}</td>
          <td>
            <router-link :to="{ name: 'user', params: { id: alumno.id } }">
              <button>Ver</button> </router-link>
            <button id="delete" @click="deleteAlumno(alumno.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">

import type { IAlumno } from '@/interfaces/IAlumno';
import { useAlumnoStore } from '@/stores/alumno';
import { computed, onMounted, ref, type Ref } from 'vue';
import { RouterLink } from 'vue-router'

const alumnoStore = useAlumnoStore();

const alumnos = ref([]) as Ref<IAlumno[]>;

onMounted(async () => {
  await alumnoStore.getAlumnos();
  alumnos.value = alumnoStore.alumnos;
});

async function deleteAlumno(id: number) {
  if (confirm('¿Deseas eliminar este alumno?')) {
    await alumnoStore.deleteAlumno(id);
    alumnos.value = alumnoStore.alumnos;
  }
}
</script>

<style scoped>
.user-table {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th,
tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.router-link-exact-active {
  font-weight: bold;
}

.user-table button {
  background-color: #698a15;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.user-table #delete {
  background-color: #8a1515;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
</style>@/services/AlumnoService