<template>
    <div
        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  padding: 20px;">
        <h2 style="text-align: center;">Register</h2>
        <form @submit.prevent="register()" style="padding: 10px;">
            <div :class="[error ? 'errorClass' : '']">
                <label for="email">Correo:</label>
                <input v-model="formUser.email" autocomplete="off" id="email" />
                <span class="error-message">{{ errorMessages.email }}</span>
            </div>
            <!-- <div :class="[error ? 'errorClass' : '']">
                <label for="password">Contraseña:</label>
                <input v-model="formUser.password" autocomplete="off" id="password" />
                <span class="error-message">{{ errorMessages.password }}</span>
            </div> -->
            <div :class="[error ? 'errorClass' : '']">
                <label for="name">Nombre:</label>
                <input v-model="formUser.name" autocomplete="off" id="name" />
                <span class="error-message">{{ errorMessages.name }}</span>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="group">Grupo:</label>
                <input v-model="formUser.group" autocomplete="off" id="group" />
                <span class="error-message">{{ errorMessages.group }}</span>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
</template>

<script setup lang="ts">

import type { IAlumno } from '@/interfaces/IAlumno';
import AlumnoService from '@/services/AlumnoService';
import { useAlumnoStore } from '@/stores/alumno';
import { onMounted, ref, type Ref } from 'vue';

const service = new AlumnoService;
const alumnoStore = useAlumnoStore();

const formUser = ref({
    email: '',
    // password: '',
    name: '',
    group: ''
});

let error: boolean = false;
let errorEmail: boolean = false;
let errorPassword: boolean = false;
let errorName: boolean = false;
let errorGroup: boolean = false;
let errorUser: boolean = false;

const errorMessages = ref({
    email: '',
    // password: '',
    name: '',
    group: ''
})


async function register() {
    const data = formUser.value;
    verificarCampoEmail();
    // verificarCampoPassword();
    verificarCampoName();
    verificarCampoGroup();
    await verificarUsuario();

    if (errorEmail == true || errorPassword == true || errorName == true || errorGroup == true || errorUser == true) {
        return;
    }
    await alumnoStore.postAlumno(data.name, data.email, data.group);
    alert('Alumno registrado');
    formUser.value = {} as IAlumno;
};
const verificarCampoEmail = () => {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(formUser.value.email)) {
        errorEmail = true;
        errorMessages.value.email = "Correo electronico invalido.";
    } else {
        errorEmail = false;
        errorMessages.value.email = "";
    }
}
// const verificarCampoPassword = () => {
//     const passwordLenght = formUser.value.password.length;
//     if (passwordLenght < 8) {
//         errorPassword = true;
//         errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.';
//     } else {
//         errorPassword = false;
//         errorMessages.value.password = "";
//     }
// }
const verificarCampoName = () => {
    const name = formUser.value.name;
    const nameLength = name.length;
    if (name === '') {
        errorMessages.value.name = 'El nombre no puede estar vacío.'
        errorName = true;
    } else if (nameLength > 25 || nameLength < 3) {
        errorMessages.value.name = `El nombre solo puede contener hasta 25 letras y ser compuesto por minimo 3 letras.`;
        errorName = true;
    } else {
        errorMessages.value.name = '';
        errorName = false;
    }

}
const verificarCampoGroup = () => {
    const group = formUser.value.group;
    const groupLength = group.length;
    if (group === '') {
        errorMessages.value.group = 'El grupo no puede estar vacío.'
        errorGroup = true;
    } else if (groupLength > 25 || groupLength < 3) {
        errorMessages.value.group = `El grupo solo puede contener hasta 25 letras y ser compuesto por minimo 3 letras.`;
        errorGroup = true;
    } else {
        errorMessages.value.group = '';
        errorGroup = false;
    }
}
async function verificarUsuario() {
    debugger;

    const alumnoFound = alumnoStore.alumnos.some(alumno => alumno.email === formUser.value.email);
    if (alumnoFound) {
        alert('Ya existe este usuario');
        errorUser = true;
        return;
    }
    return errorUser = false;
};
</script>

<style scoped>
form {
    max-width: 400px;
    margin: auto;
    display: grid;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #698a15;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
}

button:hover {
    background-color: #698a15;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #698a15;
    color: white;
}

.errorClass label {
    color: #ff3c32;
}

.errorClass input {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 4px;
    display: block;
}
</style>@/services/AlumnoService@/interfaces/IAlumno