<template>
  <div class="user-details">
    <h2>Detalles de Alumno</h2>
    <ul>
      <li>
        <label for="id">ID: </label>
        <span>{{ alumno.id }}</span>
      </li>
      <li>
        <label for="name">Nombre: </label>
        <span>{{ alumno.name }}</span>
      </li>
      <li>
        <label for="email">Correo: </label>
        <span>{{ alumno.email }}</span>
      </li>
      <li>
        <label for="grupo">Grupo: </label>
        <span>{{ alumno.group }}</span>
      </li>
      <!-- <li>
        <label for="password">Contraseña: </label>
        <span>{{ alumno.password }}</span>
      </li> -->
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router'
import { onMounted, ref, type Ref } from 'vue'
import { useAlumnoStore } from '@/stores/alumno';
import type { IAlumno } from '@/interfaces/IAlumno';


const alumnoStore = useAlumnoStore();
const alumno = ref({}) as Ref<IAlumno>;

onMounted(async () => {
  const router = useRoute()
  const id = router.params.id as string
  await alumnoStore.getAlumnoByID(id);
  alumno.value = alumnoStore.alumno;
})

</script>

<style scoped>
.user-details {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

label {
  width: 100px;
  margin-right: 10px;
  font-weight: semibold;
}

span {
  color: #333;
}
</style>

