<template>
    <nav class="navbar">
        <RouterLink to="/" class="nav-link">Home</RouterLink>
        <RouterLink to="/register" class="nav-link">Registrar</RouterLink>
    </nav>
    <RouterView></RouterView>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';

</script>

<style scoped>
.navbar {
    background-color: #333;
    padding: 0;
    text-align: center;
    justify-self: center;
    align-self: flex-start;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0;
    width: 100%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #698a15;
}
</style>